/Account_Service*.rbc
/Account_Servicecapybara-*.html

/Account_Service/log
/Account_Service/tmp
/Account_Service/db/*.sqlite3
/Account_Service/db/schema.rb
/Account_Service/db/*.sqlite3-journal
/Account_Service/public/system
/Account_Service/coverage/
/Account_Service/spec/tmp
**.orig
/Account_Service/rerun.txt
/Account_Service/pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
/Account_Service/config/initializers/secret_token.rb
/Account_Service/config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
/Account_Service/.env
.env

## Environment normalization:
/Account_Service/.bundle
/Account_Service/vendor/bundle

# these should all be checked in to normalize the environment:
/Account_Service/Gemfile.lock
#, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/Account_Service/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/Account_Service/vendor/assets/bower_components
*.bowerrc
/Account_Service/bower.json

# Ignore pow environment settings
/Account_Service/.powenv

# Ignore Byebug command history file.
.byebug_history
.idea/

